<!DOCTYPE html>
<html>
<head>
  <title>IphotographismeV2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
	</script>

</head>
<body>

<%= yield %>

</body>
</html>
